<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Employee Management System</title>
</head>
<body bgcolor="yellow">
<h1> Update Employee Details</h1>
    <form action="" method="post">
        <label>name:</label>
        <input type="text" name="name" value="{{datas.name}}" required>
        <label>age:</label>
        <input type="text" name="age" value="{{datas.age}}" required>
        <label>city:</label>
        <input type="text" name="city" value="{{datas.city}}" required>
        <label>salary:</label>
        <input type="text" name="salary" value="{{datas.salary}}" required>
        <input type="submit" value="Update Details">
    </form>

</body>
</html>